{% extends "base.html" %}

{% load staticfiles %}
{% block content2 %}
<form enctype="multipart/form-data" action="{% url 'new_post' %}" method="POST">
          {% csrf_token %}
    <div class="baseoverlay2 pl-3">
          <input type="text" name="p" placeholder="What's on your mind?" id="post-in-image" class="pt-4">
          <div class="fa-post">
              <!--<input type="file" name="pic">-->
            <input type="file" name="photo">
          </div>
    </div>
</form>
<div class="col-md-12 ">
  <div class="row designrow2 justify-content-center">
    <div class="col-md-4 section-allpost-photos-videeos mr-5">
          <div style="float: left;" class="pr-4">
            <a href="{% url 'home' %}" class="a-fa-in-image">ALL POSTS</a>
          </div>
          <div style="float: left; border-bottom:solid #00CD97;">
            PHOTOS</div>
          <div style="float: left;" class="pl-4">
          <a href="{% url 'videos' %}" class="a-fa-in-image">VIDEOS</a>
          </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row designrow-home justify-content-center ">
  {% for post in photos %}
          {% if post.photo %}
    <div class="card m-3">
      <div class="size-of-card2">
        <div class="media p-3">
          <img class="d-flex mr-3" src={{post.profileid.profilepic.url}} width="40px" alt="Generic placeholder image">
          <div class="media-body "style=" color:#50575D;">
            <h6 class="mt-0">{{post.userid.username}}</h6>
             felis in faucibus.
          </div>
        </div>

        <img src={{post.photo.url}} class="pt-3" width="100%" height="300px">

        <div style="float: left;">
          <button class="pl-2 pb-2" style="background-color:transparent; font-size:10px; color:#AFB4B8; border:none;" data-toggle="collapse" data-target= "#template{{forloop.counter}}" aria-expanded="false" aria-controls="collapseExample">
                Expand
          </button>
        </div>
        <div style="float: right;">
            <i class="fa fa-reply" style="color:#DDE0E5;" aria-hidden="true" data-toggle="modal" data-target="#exampleModal"></i>

          <i class="fa fa-heart-o pl-2" style="color:#DDE0E5;" aria-hidden="true"></i>
          <p class="pl-2 pt-1" style="color:#DDE0E5; font-size:12px; float: right;">3M</p>
        </div>
        <div class="collapse" id="template{{forloop.counter}}">
          <div class="media p-3">
            <img class="d-flex mr-3" src="" width="40px" alt="Generic placeholder image">
              <div class="media-body pr-5" style=" color:#50575D;">
                <h6 class="mt-0"></h6>
                 felis in faucibus.
              </div>
              <i class="fa fa-heart-o pl-2" aria-hidden="true" style="color:#DDE0E5;"></i>
              <p class="pl-2" style="color:#DDE0E5; font-size:12px;">3M</p>
            </div>
          </div>
          <!-- Modal -->
          <form class="" action="{% url 'post_reply' pk=post.pk %}" method="POST">
              {% csrf_token %}
              <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
                style="padding-top:150px;">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="media p-3">
                          <img class="d-flex mr-3" src="{{profile.profilepic.url}}" width="40px" alt="Generic placeholder image">
                          <div class="media-body "style=" color:#50575D;">
                            <h6 class="mt-0">{{ user.username }}</h6>
                            <input type="text" name="reply" value="" style="width:100%;border:none; border-bottom:solid #00CD97;">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Comment</button>
                      </div>
                    </div>
                  </div>
              </div>
        </form>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}
