{% extends "base.html" %}

{% load staticfiles %}
{% block content2 %}
<form enctype="multipart/form-data" action="{% url 'new_post' %}" method="POST">
          {% csrf_token %}
          <div class="baseoverlay2 pl-3">
            <input type="text" name="p" placeholder="What's on your mind?" id="post-in-image" class="pt-4">
            <div class="fa-post">
              <div id="errorDiv">

              </div>
              <div class=" col-md-4  m-0 justify-content-start">
                   <label for="image_upload2">
                       <i class="fa fa-camera fa-md " aria-hidden="true">Add photo</i></label>
                   <input type="file" name="photo" id="image_upload2" style="display: none">
             </div>
            </div>
          </div>
</form>
<div class="col-md-12 ">
   <div class="row designrow2 justify-content-center">
       <div class="col-lg-6 col-md-12 section-allpost-photos-videeos padding-fa-in-image">
           <div style="float: left; border-bottom:solid #00CD97;">ALL POSTS</div>
               <div style="float: left;"  class="pl-4">
                   <a href="{% url 'photos' %}" class="a-fa-in-image">PHOTOS</a>
               </div>
               <div style="float: left;" class="pl-4">
                   <a href="{% url 'videos' %}" class="a-fa-in-image">VIDEOS</a>
               </div>
                   <a href="#" class="list" style="color:white ;a:hover:white"><i class="fa fa-list-ul padding-fa-in-image2 display-icon-image" aria-hidden="true"></i></a>
                   <a href="#" class="grid" style="color:white ;a:hover:white"><i class="fa fa-th display-icon-image" aria-hidden="true"></i></a>
       </div>
   </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 ">
        <div class=" designrow-home mr-5 ">
            <ul class="list" id="ul-body">
                <div class="card-columns" id="cardcolumns">
                    <div class="infinite-container">
                        {% for post in posts %}
                        <div class="infinite-item">
                        <li>
                            <div class="card mt-3">
                                <div class="media p-3">
                                    <img class="d-flex mr-3" src={{post.profileid.profilepic.url}} width="40px" height="40px" alt="">
                                        <div class="media-body "style=" color:#50575D;">
                                            <h6 class="mt-0">{{post.userid.username}}</h6>

                                        </div>
              <i class="fa fa-reply" style="color:#DDE0E5;" aria-hidden="true" data-toggle="modal" data-target="#comment_post_all{{post.id}}"></i>
                <!-- Modal -->
                <form action="{% url 'post_reply' pk=post.pk %}" method="POST">

                    {% csrf_token %}
                    <div class="modal" id="comment_post_all{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true"
                      style="padding-top:150px;">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="replyModalLabel">Add Comment</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="media p-3">
                                <img class="d-flex mr-3" src="{{profile.profilepic.url}}" width="40px" height="40px" alt="">
                                <div class="media-body "style=" color:#50575D;">
                                  <h6 class="mt-0">{{ user.username }}</h6>
                                  <input type="text" name="reply" value="" style="width:100%;border:none; border-bottom:solid #00CD97;">
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Comment</button>
                            </div>
                          </div>
                        </div>
                    </div>
              </form>
              {% for key,value in arr_of_like_objs.items %}
              {% for liked in value %}
              {% if liked.userid.id == user.pk %}
              {% if liked.textid.id == post.id %}
              <i class="fa fa-heart pl-2t"></i>
              {% endif %}
              {% endif %}
              {% endfor %}
              {% endfor %}
              <i id={{post.id}} class="fa fa-heart-o pl-2 likepost">{% csrf_token %}</i>

              <p class="pl-2" style="color:#DDE0E5; font-size:12px;">{{post.get_current}}</p>
          </div>
          {% if post.text %}
             <div  style="width:50%;" class="pb-0 pl-3">
                 <p style="font-size:12px;">{{ post.text }}</p>
             </div>
         {% endif %}
          {% if post.video %}
            <iframe class="pt-3" width="100%" data-target="#popup_postlist{{post.id}}" data-toggle="modal" height="300px" src="https://www.youtube.com/embed/{{ post.video }}?rel=0" frameborder="0" allowfullscreen></iframe>
          {% endif %}
          {% if post.photo %}
            <img src={{post.photo.url}} id="myImg" data-target="#popup_postlist{{post.id}}" data-toggle="modal" class="pt-3" width="100%" height="300px">
          {% endif %}
                <!-- Modal  for image or videos popup -->
                    <div class=" modal fade bd-example-modal-lg" id="popup_postlist{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                             <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                             </button>
                             <div class="modal-content">
                                {% if post.photo %}
                                <img src={{post.photo.url}}  class="" style=" width:100%; height:400px;">
                                {% endif %}
                                {% if post.video %}
                                <iframe class="pt-3" width="100%" height="400px" src="https://www.youtube.com/embed/{{ post.video }}?rel=0" frameborder="0" allowfullscreen
                                ></iframe>
                                {% endif %}
                                <div class="modal-footer" style="height:80px; display:inline; float:left;">
                                    <div class="media">
                                        <img class="d-flex mr-3" alt="image" style="width: 40px; height: 40px;"
                                                   src={{post.profileid.profilepic.url}} data-holder-rendered="true">
                                        <div class="media-body">
                                             <h5 class="mt-0">{{user.username}}</h5>
                                             {% if post.text %}
                                             {{post.text}}
                                             {% endif %}
                                        </div>
                                        <div style="display:inline; float:right;">
                                             <i class="fa fa-heart-o pl-2" style="color:#DDE0E5
                                                        ; display:inline;" aria-hidden="true"></i>
                                              <p class="pl-2" style="color:#DDE0E5
                                                        ; font-size:12px; display:inline;">{{ post.get_current }}</p>
                                          </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  <!---modal ending--->
          <button class="pb-2" style="background-color:transparent; font-size:10px; color:#AFB4B8; border:none;" data-toggle="collapse" data-target= "#reply_allpost{{post.id}}" aria-expanded="false" aria-controls="collapseExample">
              Expand
          </button>
          <div class="collapse" id="reply_allpost{{post.id}}">
            {% for comment in post.comments.all %}
            <div class="media p-3 pt-3">
              <img class="d-flex mr-3" src={{comment.profileid.profilepic.url}} width="40px" height="40px" alt="">

              <div class="media-body" style=" color:#50575D;">
                <h6 class="mt-0">{{comment.userid.username}}</h6>
                <h6 class="mt-0">{{comment.reply}}</h6>

              </div>
              <i id={{comment.id}} class="fa fa-heart-o pl-2 commentlike" aria-hidden="true" style="color:#DDE0E5;"></i>
              <p class="pl-2" style="color:#DDE0E5; font-size:12px;">{{comment.get_current_date}}</p>
            </div>
          {% endfor %}
         </div>

      </div>
    </li>
  </div>

      {% endfor %}
        </div>
  </div>
</ul>
</div>
</div>
</div>

{% if posts.has_next %}
   <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
 {% endif %}

 <div class="loading" style="display: none;">
   Loading...
 </div>

 <script src="{% static 'JS/jquery-3.2.1.js' %}"></script>
 <script src="{% static 'JS/jquery.waypoints.min.js' %}"></script>
 <script src="{% static 'JS/infinite.min.js' %}"></script>

 <script>
   var infinite = new Waypoint.Infinite({
     element: $('.infinite-container')[0],
     onBeforePageLoad: function () {
       $('.loading').show();
     },
     onAfterPageLoad: function ($items) {
       $('.loading').hide();
     }
   });
 </script>
{% endblock %}
