<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
 <head>
    <meta charset="utf-8">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<!---font--->
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   	<link  href="{% static 'CSS/social.css' %}" rel="stylesheet">
 </head>
 <body>
   <div class="container-fluid">
     <header>
      <div class="row">
        <div class="col-md-12">
            <nav class="navbar fixed-top navbar-inverse" style="background-color:#262728; height:60px;">
  <!-- Nav brand -->
              <div class="col-md-4 text-center ">
                <a class="navbar-brand" href="#">
                  <i class="fa fa-comments" id="fa3" aria-hidden="true"></i><span id="text1">simple</span><span id="text2">social<span>
                </a>
              </div>
            </nav>
        </div>
      </div>
     </header>

<!-- image and login and register ------------------>
    <div class="row view">
      <div class="col-md-12">
        <div class="row designrow topbakground justify-content-center">
          <div class="col-md-4 text-center">
            <h1>About Us</h1>
            <p>   Position an element at the top of the viewport, from edge to edge.
                            Be sure you understand the ramifications of fixed position in your project;
                           you may need to add aditional CSS.
            </p>
          </div>
          <!-- login start -->
          <div class="col-md-4 text-center">
            <form action="{% url 'signup_login' %}" method="post">
              {% csrf_token %}
              <table>
                <tr>
                  <td>
                    <label for="username">UserName:</label>
                  </td>
                  <td>
                    <input type="text" name="username" placeholder="Enter UserName">
                  </td>
                </tr>
                <tr>
                  <td><label for="password">Password</label></td>
                  <td><input type="password" name="password"placeholder="Enter Password"></td>
                </tr>
                <tr>
                  <td></td>
                  <td><input type="submit" name="submit" class="btn btn-success" id="btn" value="login">
                  </td>
                </tr>
              </table>
            </form>
              <br>
                <!-- register form -->
          <div class="row">
            <div class="col-md-12">
              <form enctype="multipart/form-data" method="POST" action="{% url 'signup_login' %}" >
        		      {% csrf_token %}
         					<table>
            			 {% for field in user_form %}
              		 <tr>
          				   <td>{{ field.label_tag }}</td>
          		       <td>{{ field }}</td>
                	 </tr>

                    {% endfor %}
                  <tr>
                    <td>{{ user_img.gender.label_tag }}</td>
                    {% if user_img.gender.errors %}
                      <p style="color: red">{{ errors }}</p>
                    {% endif %}

              			<td><input type="radio" name="gender" value="F">Female
                    <input type="radio" name="gender" value="M">Male</td>
                  </tr>
                </table>
                <table>
                 <tr>
								   <td>{{ user_img.profilepic.label_tag }}</td>
								   <td>{{ user_img.profilepic }}</td>
								 </tr>
								 <tr>
								      <td><button type="submit" value="signup" name="submit" class="btn btn-success" >Sign up</button></td>
								 </tr>
               </table>
             </form>
           </div>
          </div>
        </div>
      </div>
  </div>
</div>
<footer>
  <div class="row">

    <div class="fixed-bottom">

    <div class="col-md-12 col-sm-12 col-12">
            <div class="row justify-content-center">
        <div class="col-md-6 col-sm-6">
          <div class="row justify-content-center">
            <div class="col-md-2 col-sm-3 col-4 p-3">
            <a class="a_in_footer" href="#">ABOUT US</a>
            </div>
            <div class="col-md-2 col-sm-3 col-4 p-3">
            <a class="a_in_footer" href="#">SUPPORT</a>
            </div>
            <div class="col-md-2 col-sm-3 col-4 p-3">
            <a class="a_in_footer" href="#">PRIVACY</a>
            </div>
            <div class="col-md-2 col-sm-3 col-4 p-3">
            <a class="a_in_footer" href="#">TERMS</a>
            </div>
            <div class="col-md-2 col-sm-3 col-4 p-3">
            <span class="a_in_footer">&copy;SIMPLYSOCIAL<span>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
  </div>
</footer>
</div>

<script type="text/javascript" src="{% static 'JS/social.js' %}">

</script>
</body>
</html>
