{% extends "base.html" %}

{% load staticfiles %}
{% block content %}

<div class="row">
  <div class="col-md-12 view">
          <div class="row designrow topbakground justify-content-center possition">
                <div class="col-md-4 text-center">
                    <p>   Position an element at the top of the viewport, from edge to edge.
                            Be sure you understand the ramifications of fixed position in your project;
                           you may need to add aditional CSS.
                    </p>
                </div>
      <div class="col-md-4 text-center">
        <form action="{% url 'login' %}" method="POST">
         {% csrf_token %}
         {{ form.as_p }}


         <input type="submit" class="btn btn-primary" value="login">

        </form>
        <div class="row">
          <div class="col-md-12">

                       <form enctype="multipart/form-data" method="POST">
                         {% csrf_token %}
                         {% for field in user_form %}
                         <p>
                           {{ field.label_tag }}
                           {{ field }}
                           {% for error in field.errors %}
                             <p style="color: red">{{ error }}</p>
                           {% endfor %}
                         </p>
                       {% endfor %}
                       {{ user_img.as_p }}
                       <button type="submit" class="btn btn-success">Sign</button>
                       </form>
          </div>
                  </div>
            </div>
        </div>
      </div>
</div>

{% endblock %}
