
body{
font-family: 'Open Sans', sans-serif;
}
.checkbox-padding{
  padding-left: 80px;
}
.followers-following-design{
  color:#DDE0E5;font-size:12px ;
}
.div-collapse-navbar{
  display: none;
}
.dropdown-nav{
  float: right;
}

.grid li {
  width: 100%;
}
.list li {
width:465px;
margin: auto;
}

#ul-body {
  list-style: none;
}
.size-of-card2{width: 50%;}

.a_in_footer-base{
  font-size: 10px;
  color: #007A60;
}

.section-allpost-photos-videeos{
  font-size: 10px;
  color: white;
}
.padding-fa-in-image{
  padding-left:90px;
}
.padding-fa-in-image3{
  padding-left:130px;
}
.padding-fa-in-image2{
  padding-left:265px;
}
.a-fa-in-image{
  color: white;
  text-decoration: none;
}
.a-fa-in-image:hover{
  color: white;
  text-decoration: none;
}

.baseview{
 background-image: url('waterfall-668aecdf0e4165bd99516be539482dccd62921846a9cb178d932a070304d4bdd.jpg') ;
 background-repeat: no-repeat;
 background-size:cover;
 min-height:390px;
 z-index:-8;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
}
.baseoverlay{
 background-color:rgba(0,0,0,0.5);
 -webkit-background-color:rgba(0,0,0,0.5);
 -moz-background-color:rgba(0,0,0,0.5);
 -o-background-color:rgba(0,0,0,0.5);
 background-size:cover;
 min-height:390px;
 z-index:-5;
}
.baseoverlay2{
 background-color:rgba(56,233,196,0.5);
 -webkit-background-color:rgba(56,233,196,0.5);
 -moz-background-color:rgba(56,233,196,0.5);
 -o-background-color:rgba(56,233,196,0.5);
 min-height:150px;
 min-width: 300px;
 z-index:-3;
}


.designrow-home{
  padding-top:20px;
}
#post-in-image{
color:#26C2AE;
background-color: transparent;
-webkit-background-color:transparent;
-moz-background-color:transparent;
-o-background-color:transparent;
width: 450px;
border: none;
font-size: 30px;
}
.reply-icon{
  margin-left:350px;
  position: relative;
}
.designrow2{
  color:#26C2AE;
  padding-top:120px;
}
.fa-post{
  padding-top: 40px;
}
#modal-container {
background-color: #FEFEFE;
margin-left: 5%;
margin-right: 5%;
height: 87px;

}
#fachat{
 color:#007A60 ;
}
#exampleModal3Label {
color: #868B93 ;
font-family: 'Source Sans Pro';
margin-left: 1.5%;
font-size: normal;
}
#dialog {
 background-color: #DCDFE3 ;
}

.modal-footer{
color: #868B93 ;
}
#exampleModal3{
background-color: black;
}

#post {
margin-right:0px;
background-color: #01B286 ;
color:#FDFEFE ;}



/*    nav in home page                 */
#input_container {
   position:relative;
 /*  padding:0 0 0 20px;
   margin:0 20px;
   background:#ddd;
   direction: ltr; */
   width: 200px;
}
#image-nav{padding-left: 60px;}
#search-nav{padding-left: 360px;}
#input {
   color: white;
   height:30px;
   margin:0;
   padding-right: 30px;
   width: 100%;
   background-color:#262728;
   border: 1px solid;
   border-radius: 8px;
   border-color: #565B61;
   padding-left: 10px;
}
#input_img {
   position:absolute;
   bottom:2px;
   right:5px;
   width:20px;
   height:20px;
   padding-right: 25px;
}
/*  end  */
.view{
background-image: url('pexels-photo-279574(1).jpeg') ;
background-repeat: no-repeat;
background-size:cover;
min-height:700px;
z-index:-10;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; }


.topbakground{
background-color:rgba(0,0,0,0.5);
-webkit-background-color:rgba(0,0,0,0.5);
-moz-background-color:rgba(0,0,0,0.5);
-o-background-color:rgba(0,0,0,0.5);
background-size:cover;
min-height:700px;
z-index:-5;}

/* text1 in navbar */
#text1{ color:#565B61 ;}

#text2{ color:#9DA2AA ;}

#fa3{color:#007A60 ;
 font-size:30px;}

.designrow{
color:white;
padding-top:130px;}

.a_in_footer {
    text-decoration: none;
    color:#00B385;
    font-size:15px;}

@media only screen and (device-width :1920px)  {
.view{
height:950px;
}
.topbakground{
height:950px;
}
.possition{
 position: fixed;}

.designrow{
color:white;
padding-top:225px;}
.padding-fa-in-image{
  padding-left:250px;
}
.checkbox-padding{
  padding-left: 80px;
}
.followers-following-design{
  color:#DDE0E5;font-size:20px ;
}
}
@media only screen and (min-device-width : 866px) and (max-device-width: 995px) {
.view{
height:100%;
}
.topbakground {
height:1280px;
}
.a_in_footer {
    text-decoration: none;
    color:#00B385;
    font-size:10px;}

.possition{
 position: fixed;}
 .designrow{
 color:white;
 padding-top:350px;}

 .padding-fa-in-image{
   padding-left: 26%;
 }
 .dropdown-nav{
   display: block;
 }
 .div-collapse-navbar{
   display:none;
 }
 .checkbox-padding{
   padding-left: 320px;
 }
 .followers-following-design{
   color:#DDE0E5;font-size:11px ;
 }
}


@media only screen and (min-device-width :769px) and (max-device-width: 865px) {
.view{
min-height:1270px;
}
.topbakground{
min-height:1270px;
}
.possition{
 position: fixed;}
.designrow{
color:white;
padding-top:350px;}

.padding-fa-in-image{
  padding-left:21%;
}
.dropdown-nav{
  display: none;
}
.div-collapse-navbar{
  display:block;
}
#brand-col{
  display: none;
}
.padding-fa-in-image3{
  padding-left:120px;
}
.checkbox-padding{
  padding-left: 220px;
}
.followers-following-design{
  color:#DDE0E5;font-size:15px ;
}
}



@media only screen and (min-device-width : 320px) and (max-device-width : 700px){
.view{
height:1000px;
}
.topbakground{
height:1000px;
}
.a_in_footer {
    text-decoration: none;
    color:#00B385;
    font-size:10px;
    padding-left:20px; }

.designrow{
    color:white;
    padding-top:60px;}

    .padding-fa-in-image{
        padding-left: 0px;
      }
      .padding-fa-in-image{
          font-size: 10px;
          padding-left: 4%;
        }
      .display-icon-image{
        display: none;
      }
      .baseoverlay2{
       background-color:rgba(56,233,196,0.5);
       -webkit-background-color:rgba(56,233,196,0.5);
       -moz-background-color:rgba(56,233,196,0.5);
       -o-background-color:rgba(56,233,196,0.5);
       height:50px;
       width: 100px;
       z-index:-3;
      }
      #post-in-image{
      color:#26C2AE;
      background-color: transparent;
      -webkit-background-color:transparent;
      -moz-background-color:transparent;
      -o-background-color:transparent;
      width: 450px;
      border: none;
      font-size: 20px;
      }
    #brand-col{
      display: none;
    }
    .dropdown-nav{
      display: none;
    }
    .div-collapse-navbar{
      display:block;
      margin: auto;
    }
    .padding-fa-in-image{
      padding-left:30px;
    }
    .search-icon-display-small-size {
      display: none;
    }
    .padding-fa-in-image3{
      padding-left:70px;
    }
    .card-size-in-samll-media{
      width: 80%;
      margin: 0px;
      padding: 0px;
    }
    .checkbox-padding{
      padding-left: 0px;
    }
    .followers-following-design{
      color:#DDE0E5;font-size:11px ;
    }
}

@media only screen and (min-device-width : 701px) and (max-device-width : 768px) {
.view{
height:1024px;
}
.topbakground{
height:1024px;
}
.a_in_footer {
    text-decoration: none;
    color:#00B385;
    font-size:11px;}
.possition{
 position: fixed;}
 .designrow{
     color:white;
     padding-top:180px;}
  .dropdown-nav{
    display: none;
  }
  .div-collapse-navbar{
    display:block;
  }
  #brand-col{
    display: none;
  }
  .padding-fa-in-image{
    padding-left:150px;
  }
  .search-icon-display-small-size {
    display: none;
  }
  .nav-padding-md{
    padding-left: 260px;
  }
  .padding-fa-in-image3{
    padding-left:110px;
  }
}

.mynav
 {display: inline-block;
 float:right;
margin-left:40px;}

.mybrand
{ display:inline-block;
float:right;}
#fachat{
color:#007A60 ;}

#followbtnfloat {
  float: left;
  padding-right: 250px;
  color: Blue;
  font-weight: bold;
  font-style: italic;
}

#noresult{
 font-weight: bold;
 font-style: italic;
 color: red;
}
